# LaTeX auxiliary files
.vscode/
*.aux
*.log
*.blg
*.bbl
*.brf
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.out
*.nav
*.snm
*.dvi
*.ps
*.bak
*.gz
*.xdv
*.idx
*.ilg
*.ind
*.thm
*.tdo
*.run.xml
*.spl
*.glg
*.glo
*.gls
*.acn
*.acr
*.alg
*.ist
*.xdy
*.bcf
*.xml
*.mw
*.dpth
*.maf
*.mtc
*.mtc0
*.mlf
*.mll
*.tms
*.vrb